@using EnjOffer.Core.DTO;
@model BookResponse?;
@{
    ViewBag.Title = "Library";
}
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewBag.Title = "Library";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/library.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <main class="library">
        <div class="sidebar-container">
            <aside class="sidebar">
                <a href="/" class="sidebar__item" id="sidebar__personal-account">
                    <h2 class="sidebar__item-content">Personal account</h2>
                </a>
                <a href="word-trainer" class="sidebar__item" id="sidebar__word-trainer">
                    <h2 class="sidebar__item-content">Word trainer</h2>
                </a>
                <a href="library" class="sidebar__item" id="sidebar__library">
                    <h2 class="sidebar__item-content">Library</h2>
                </a>
            </aside>
        </div>
        <div class="library__main">
            <div class="selected-book">
                <form method="POST" action="book-reader" class="selected-book__image">
                    <img src="@Model?.ImageSrc"
                        draggable="false">
                        <input type="hidden" name="BookId" value="@Model?.BookId"/>
                    <button class="read-book-button">Read</button>
                </form>
                <div class="selected-book__description">
                    <h2>@Model?.Title. @Model?.Author</h2>
                    <p class="book-description">
                       @Model?.Description
                    </p>
                </div>
            </div>


            <div class="library-container">
                <div class="library-list">
                    @foreach (BookResponse book in ViewBag.Books)
                    {
                        <form class="library-item" method="POST" action="library">
                            <img src="@book.ImageSrc" draggable="false">
                            <p>@book.Title</p>
                            <input type="hidden" name="bookId" value="@book.BookId"/>
                            @*@Html.HiddenFor(model => model.BookId, Model?.BookId)*@
                            <div class="library-item__actions">
                        
                                <button class="see-book-button">See</button>
                                @*<img src="~/img/star.svg" class="library-item__star" draggable="false"/>*@
                            </div>
                        </form>
                    }
                </div>
            </div>

        </div>
    </main>
</body>

</html>
