@{
    ViewBag.Title = "Book reader";
}
@using EnjOffer.Core.DTO;
@using System.Security.Claims;
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@model BookResponse?;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/book-reader.css">
    <title>@ViewBag.Title</title>
</head>
@{
    string js = @"function handleSubmit(event) {
  event.preventDefault();

  const inputs = event.target.querySelectorAll('.form-input');

  inputs.forEach(input => {
    console.log(`${input.getAttribute('name')}: ${input.value}`);
  });

  for (let i = 0; i < inputs.length; i++) {
    inputs[i].value = '';
  }
}";
}
<script>
    @Html.Raw(js);
</script>
<body>
    <main class="book-reader">
        <div class="sidebar-container">
            <aside class="sidebar">
                <a href="/" class="sidebar__item" id="sidebar__personal-account">
                    <h2 class="sidebar__item-content">Personal account</h2>
                </a>
                <a href="word-trainer" class="sidebar__item" id="sidebar__word-trainer">
                    <h2 class="sidebar__item-content">Word trainer</h2>
                </a>
                <a href="library" class="sidebar__item" id="sidebar__library">
                    <h2 class="sidebar__item-content">Library</h2>
                </a>
            </aside>
        </div>
        <div class="book-reader__main">
            <div class="book-actions">
                <embed class="pdf-reader" src="@Model?.Content" type="application/pdf"/>
                <div class="book-modal">
                    <div class="book-modal__header">
                        <h3>Add your own word or phrase</h3>
                    </div>
                    <div class="book-modal__main">
                        <form class="add-word-modal__main" method="POST" action="book-reader/add-user-word">
                            <input type="text" placeholder="Word" class="form-input" name="Word" required />
                            <input type="text" placeholder="Traslation" class="form-input" name="WordTranslation"
                                required />
                            <input type="hidden" name="UserId" value="@ViewBag.UserId" />
                            @*<input type="text" placeholder="User" class="form-input" name="UserId"
                                value="409855c0-8d3a-467e-8edd-87593f4a25cc" style="display: none;" />*@
                            <button class="form-button" type="submit">Add word</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>