<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/word-trainer.css">
    <title>Document</title>
</head>
<script>
    @Html.Raw(@"function addWord() {
        document.querySelector('.add-word').style.display = 'none';
        document.querySelector('.add-word-modal').style.display = 'block';
    }

    function closeModal() {
        document.querySelector('.add-word-modal').style.display = 'none';
        document.querySelector('.add-word').style.display = 'block';
    }")

    function handleSubmit(event) {
  event.preventDefault();
    if (event.target.className === "word-trainer__main") {
        const inputs = event.target.querySelectorAll('.word-input');

        inputs.forEach(input => {
        console.log(`${input.getAttribute('name')}: ${input.value}`);
        });

        for (let i = 0; i < inputs.length; i++) {
        inputs[i].value = '';
        }
    }
    if (event.target.className === "add-word-modal__main") {
        const inputs = event.target.querySelectorAll('.modal-input');

        inputs.forEach(input => {
        console.log(`${input.getAttribute('name')}: ${input.value}`);
        });

        for (let i = 0; i < inputs.length; i++) {
        inputs[i].value = '';
        }
    }
}
</script>

<body>
    <main class="word-trainer">
        <div class="word-trainer__header">
            <h1 class="word-trainer__header__text">
                Word trainer
            </h1>
        </div>
        <form class="word-trainer__main" onsubmit="handleSubmit(event)" method="POST">
            <div class="image-container">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Example_image.svg/600px-Example_image.svg.png"
                    draggable="false">
                <h1>Слово або фраза</h1>
            </div>
            <input type="text" class="word-input" placeholder="Введіть слово..." name="entered-word" />
            <div class="word-trainer__buttons">
                <button type="submit" class="functional-button">Enter</button>
                <button class="functional-button">Use a hint</button>
            </div>
        </form>
        <img src="https://www.freeiconspng.com/thumbs/plus-icon/plus-icon-black-2.png" class="add-word"
            draggable="false" onclick="addWord()">
        <section class="add-word-modal">
            <img src="https://www.citypng.com/public/uploads/preview/png-red-round-close-x-icon-31631915146jpppmdzihs.png"
                draggable="false" class="close-modal-button" onclick="closeModal()" />
            <div class="add-word-modal__header">
                <h2>Add your word</h2>
            </div>
            <form class="add-word-modal__main" onsubmit="handleSubmit(event)" method="POST">
                <input type="text" placeholder="Word" class="modal-input" name="word-trainer-word" />
                <input type="text" placeholder="Traslation" class="modal-input" name="word-trainer-translate"/>
                <button class="add-word-button">Add word</button>
            </form>
        </section>
    </main>
</body>

</html>
