@model IEnumerable<UserStatisticsResponse>;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <link rel="stylesheet" href="~/admin-panel.css">
    <title>@ViewBag.Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
@{
    string js = @"function formInteraction() {
        const button = document.querySelector('.form-button');
        if (button.innerHTML === 'Open form') {
            button.innerHTML = 'Close form';
        } else {
            button.innerHTML = 'Open form';
        }
    }

    function canDelete() {
        const checkAccount = document.getElementById('check-for-delete-account');
        const checkWord = document.getElementById('check-for-delete-word');
        const removeAccount = document.getElementById('remove-account-button');
        const removeWord = document.getElementById('remove-word-button');

        removeAccount && checkAccount.checked
            ? (removeAccount.disabled = false)
            : (removeAccount.disabled = true)

        removeWord && checkWord.checked
            ? (removeWord.disabled = false)
            : (removeWord.disabled = true)
    }

    function setSelected() {
        const ids = ['sidebar__personal-account', 'sidebar__word-trainer', 'sidebar__library'];

       const elementId = event.target.parentElement.id;
       const element = document.getElementById(elementId);
       
       ids.forEach(id => {
        if (id === elementId) {
            // element.style.backgroundColor = '#e8e8e8';
            document.getElementById(id).style.backgroundColor = '#e8e8e8';
        } else {
            document.getElementById(id).style.backgroundColor = 'white';
        }
       })
    }";
}
<script>
   @Html.Raw(js);
</script>

<body>
<div class="container">
    <aside class="sidebar">
            <div class="sidebar__item" id="sidebar__personal-account" onclick="setSelected()" style="background-color: #e8e8e8;">
                <h2 class="sidebar__item-content"><a href="/">Personal account</a></h2>
            </div>
            <div class="sidebar__item" id="sidebar__word-trainer" onclick="setSelected()">
                <h2 class="sidebar__item-content"><a href="/word-trainer">Word Trainer</a></h2>
            </div>
            <div class="sidebar__item" id="sidebar__library" onclick="setSelected()">
                <h2 class="sidebar__item-content"><a href="/library">Library</a></h2>
            </div>
        </aside>

        @RenderBody();
    </div>
</body>

</html>

