<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./total.css">
    <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function formInteraction() {
        const button = document.querySelector('.form-button');
        if (button.innerHTML === 'Open form') {
            button.innerHTML = 'Close form';
        } else {
            button.innerHTML = 'Open form';
        }
    }

    function canDelete() {
        const checkAccount = document.getElementById('check-for-delete-account');
        const checkWord = document.getElementById('check-for-delete-word');
        const removeAccount = document.getElementById('remove-account-button');
        const removeWord = document.getElementById('remove-word-button');

        removeAccount && checkAccount.checked
            ? (removeAccount.disabled = false)
            : (removeAccount.disabled = true)

        removeWord && checkWord.checked
            ? (removeWord.disabled = false)
            : (removeWord.disabled = true)
    }

    function setSelected() {
        const ids = ["sidebar__personal-account", "sidebar__word-trainer", "sidebar__library"];

       const elementId = event.target.parentElement.id;
       const element = document.getElementById(elementId);
       
       ids.forEach(id => {
        if (id === elementId) {
            // element.style.backgroundColor = "#e8e8e8";
            document.getElementById(id).style.backgroundColor = "#e8e8e8";
        } else {
            document.getElementById(id).style.backgroundColor = "white";
        }
       })
    }
</script>

<body>
    <header class="header">
        <h1 class="header__text">
            Header Text
        </h1>
    </header>
    <div class="container">
        <aside class="sidebar">
            <div class="sidebar__item" id="sidebar__personal-account" onclick="setSelected()" style="background-color: #e8e8e8;">
                <h2 class="sidebar__item-content">Personal account</h2>
            </div>
            <div class="sidebar__item" id="sidebar__word-trainer" onclick="setSelected()">
                <h2 class="sidebar__item-content">Word trainer</h2>
            </div>
            <div class="sidebar__item" id="sidebar__library" onclick="setSelected()">
                <h2 class="sidebar__item-content">Library</h2>
            </div>
        </aside>
        <main class="admin-panel">
            <div class="admin-panel__main">
                <h2 class="admin-panel__sections">
                    Admin panel
                </h2>
                <div class="manager">
                    <div>
                        <h3>Add admin account</h3>
                        <details>
                            <summary class="form-button" onclick="formInteraction()">Open form</summary>
                            <div class="input-field">
                                <div class="input-field__item">
                                    <p>Nickname</p>
                                    <input type="text" class="input-field__input" />
                                </div>
                                <div class="input-field__item">
                                    <p>Email</p>
                                    <input type="email" class="input-field__input" />
                                </div>
                                <div class="input-field__item">
                                    <p>Password</p>
                                    <input type="password" class="input-field__input" />
                                </div>
                                <div class="input-field__item">
                                    <p>Repeat password</p>
                                    <input type="password" class="input-field__input" />
                                </div>
                                <button class="input-field__button">Create account</button>
                            </div>
                        </details>
                    </div>
                    <div>
                        <h3>Remove admin account</h3>
                        <details>
                            <summary class="form-button" onclick="formInteraction()">Open form</summary>
                            <div class="input-field">
                                <div class="input-field__item">
                                    <p>Nickname</p>
                                    <input type="text" class="input-field__input" />
                                </div>
                                <div class="remove-section">
                                    <div class="remove-section__check">
                                        <p class="warning-text">I am sure</p>
                                        <input type="checkbox" id="check-for-delete-account" onclick="canDelete()">
                                    </div>
                                    <button id="remove-account-button" class="input-field__button" disabled>Remove
                                        account</button>
                                </div>
                            </div>
                        </details>
                    </div>
                    <div>
                        <h3>Add word to database</h3>
                        <details>
                            <summary class="form-button" onclick="formInteraction()">Open form</summary>
                            <div class="input-field">
                                <div class="input-field__item">
                                    <p>Word</p>
                                    <input type="text" class="input-field__input" />
                                </div>
                                <div class="input-field__item">
                                    <p>Translation</p>
                                    <input type="text" class="input-field__input" />
                                </div>
                                <button class="input-field__button">Add new word</button>
                            </div>
                        </details>
                    </div>
                    <div>
                        <h3>Remove word from database</h3>
                        <details>
                            <summary class="form-button" onclick="formInteraction()">Open form</summary>
                            <div class="input-field">
                                <div class="input-field__item">
                                    <p>Word</p>
                                    <input type="text" class="input-field__input" />
                                </div>
                                <div class="remove-section">
                                    <div class="remove-section__check">
                                        <p class="warning-text">I am sure</p>
                                        <input type="checkbox" id="check-for-delete-word" onclick="canDelete()">
                                    </div>
                                    <button id="remove-word-button" class="input-field__button" disabled>Remove
                                        word</button>
                                </div>
                            </div>
                        </details>
                    </div>
                </div>
                <h2 class="admin-panel__sections" style="margin-bottom: 0;">Statistics</h2>
                <div>
                    <canvas id="myChart" class="myChart"></canvas>
                </div>
                <div class="advices">
                    <div class="advice">
                        <h4>Advice #1</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptates hic magni laboriosam corporis officiis, neque sapiente aliquam in. Voluptatem quasi officia ex tenetur provident! Repellendus laudantium perspiciatis cum minus?</p>
                    </div>
                    <div class="advice">
                        <h4>Advice #2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas fugit temporibus cum veritatis labore facilis at asperiores voluptate saepe eligendi obcaecati rerum corrupti, perspiciatis ipsam deserunt porro, distinctio quia repudiandae.</p>
                    </div>
                    <div class="advice">
                        <h4>Advice #3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum vitae a quod vero, veritatis voluptatum laborum consequuntur corporis et praesentium atque perspiciatis sed quisquam ea tempora itaque provident minus exercitationem?</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>
<script>
    const ctx = document.getElementById('myChart')?.getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
            datasets: [{
                label: `Quantity`,
                data: [12, 19, 3, 5, 2, 3, 7],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1
            }]
        },
    });
</script>