body,
h2,
p {
    margin: 0;
    padding: 0;
}

.library {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.library__header {
    margin: 1px;
    padding: 0 20px;
    border: 2px solid black;
}

.library__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 120px;
}

.selected-book {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.selected-book__image {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.read-book-button {
    width: 300px;
    padding: 10px 0;
    font-size: larger;
    background: #fff;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.3s linear;
}

.read-book-button:hover {
    scale: 1.03;
    background: #e3e3e3;
}

.read-book-button:active {
    scale: 0.85;
    background: white;
}

.selected-book__image>img {
    width: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.selected-book__description {
    max-width: 550px;
}

.library-item {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.library-item > img {
    width: 150px;
}

.library-item__actions {
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.library-item__star {
    height: 25px;
    width: 25px;
}

.container {
    user-select: none;
    overflow-x: scroll;
    width: 90vw;
}

.library-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: fit-content;
}

.see-book-button {
    font-size: medium;
    padding: 0 10px;
    background: #fff;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.3s linear;
    user-select: none;
}

.see-book-button:hover {
    scale: 1.03;
    background: #e3e3e3;
}

.see-book-button:active {
    scale: 0.85;
    background: white;
}

.library-container::-webkit-scrollbar {
    height: 7px;
    width: 4px;
    background: #00ff90;
    border-radius: 10px;
}

.library-container::-webkit-scrollbar-thumb:horizontal {
    background: gray;
    border-radius: 10px;
}


